@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

html:focus-within {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

blockquote,
q {
    quotes: '„' '“' '‚' '‘';
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.scale-optimized {
    transform: translateZ(0);
    backface-visibility: hidden;
}

progress[value]::-webkit-progress-bar {
    background-color: #2d2e40;
    border-radius: 0.375rem;
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
        -webkit-linear-gradient(left, rgb(137, 255, 176), rgb(189, 255, 128));
}

progress {
    height: 1.5rem;
}

progress::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: attr(value) '/' attr(max);
    font-weight: bold;
    color: #13141b;
}

.shake {
    animation: shake 0.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both, fadeOutline 0.5s ease-in;
    outline-width: 2px;
    outline-style: solid;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes fadeOutline {
    0% {
        outline-color: rgb(248 113 113);
    }
    100% {
        outline-color: transparent;
    }
}

.game-bar {
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
}
